[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "==2.9.9"
validate-email = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.10"
