{% extends "layout.html" %}
{% block content %}
<h1>Expense List</h1>

<ul class="list-group">
    <li class="list-group-item">Bought Stuff</li>
    <li class="list-group-item">Bought Stuff</li>
    <li class="list-group-item">Bought Stuff</li>
    <li class="list-group-item">Bought Stuff</li>
    <li class="list-group-item">Bought Stuff</li>
    <li class="list-group-item">Bought Stuff</li>
    <li class="list-group-item">Bought Stuff</li>
    <li class="list-group-item">Bought Stuff</li>
    <li class="list-group-item">Bought Stuff</li>
</ul>
{% endblock %}