<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> KoloTraker {% block title %}
    {% endblock %} </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">KoloTraker</a>
  <ul class="navbar-nav px-3" style="display: flex; flex-direction: row; align-items: center;">
    <li class="nav-item text-nowrap">
        <div class="col-md-2">
            <a href="{% url 'login' %}" class="btn btn-sm btn-dark ">Login</a>
          </div>
      </li>
      <li class="nav-item text-nowrap">
        <div class="col-md-2">
            <a href="{% url 'register' %}" class="btn btn-sm btn-dark">Register</a>
          </div>
      </li>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <main role="main" class=" ml-sm-auto col-lg-10 px-4">
      <section class="hero">
        <div class="container mt-5">
            <h2>Welcome to KoloTraker</h2>
            <p>A simple way to manage your finances</p>
            <a href="{% url 'register' %}" class="btn btn-sm btn-dark">Get Started</a>
        </div>
    </section>
    <section id="features" class="features">
      <div class="container mt-3">
          <h2>Key Features</h2>
          <div class="card feature">
            <div class="card-body">
              <h3>Expense Tracking</h3>
              <p>Track your expenses easily and efficiently.</p>
            </div>
          </div>
          <div class="card feature">
            <div class="card-body">
              <h3>Budgeting</h3>
              <p>Create budgets for different categories.</p>
              <p>Coming Soon.</p>
            </div>
          </div>
          <div class="card feature">
            <div class="card-body">
              <h3>Goal Setting</h3>
              <p>Set and track financial goals.</p>
              <p>Coming Soon.</p>
            </div>
          </div>
      </div>
  </section>
    </main>
  </div>
</div>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.9.0/dist/feather.min.js"></script>
        <script src="{% static 'scripts/main.js' %}"></script>
      </body>
</html>
