{% extends 'layout.html' %} {% block content %}
<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'transactions' %}">Transactions</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit Transaction
      </li>
    </ol>
  </nav>
  <div class="card">
    <div class="card-body">
      <form action="{% url 'edit-transaction' transaction.id %}" method="post">
        {% csrf_token %}
        {% include "components/messages.html" %}
        <div class="form-group">
          <label for="">Amount</label>
          <input type="text" name="amount" value="{{field_values.amount}}" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <input type="text" name="description" value="{{field_values.description}}" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
          <label for="">Category</label>
          <select class="form-control" name="category">
            <option selected name="category" value="{{field_values.category}}">{{transaction.category}}</option>
            {% for category in categories %}
            <option name="category" value="{{category.name}}">{{category.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Date</label>
          <input type="date" name="transaction_date" value="{{ field_values.date |date:'Y-m-d' }}" class="form-control form-control-sm" />
        </div>
        <input type="submit" value="Save" class="btn btn-primary btn-primary-sm" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
